.desktop-2,
.sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.sidebar {
  width: 715px;
  flex-direction: row;
  padding: 0 36px;
  max-width: 100%;
}
.desktop-2 {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 381px;
  gap: 321px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .desktop-2 {
    gap: 160px;
  }
}
@media screen and (max-width: 450px) {
  .desktop-2 {
    gap: 80px;
  }
}
