/* AddNewDoctor.css */

.add-new-doctor-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff; /* Background color for the container */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2eefc;
  padding: 10px 20px;
  border-radius: 12px;
  margin-bottom: 20px; /* Add some space between header and form */
}

.cancel-button,
.save-button {
  display: flex;
  align-items: center;
  background-color: #e9e5f9;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.cancel-icon,
.save-icon {
  width: 20px;
  margin-right: 8px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.form {
  margin: 20px 0;
}

.form-group {
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
  margin-bottom: 15px;
}

.text-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f2eefc;
  margin-top: 5px; /* Space between label and input */
  font-size: 16px;
  color: #333;
}

.text-field::placeholder {
  color: #888; /* Color for the placeholder text */
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .cancel-button,
  .save-button {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .form-group {
    width: 100%;
  }
} 
