.tablelist-icon {
    position: absolute;
    top: 38px;
    left: 20px;
    width: 16px;
    height: 16px;
    object-fit: cover;
    z-index: 1;
  }
  .top-app-bar-parent {
    height: 93px;
    flex: 1;
    position: relative;
    max-width: 100%;
  }
  .screenshot-2024-08-02-at-825 {
    height: 96px;
    width: 181px;
    position: relative;
    object-fit: cover;
    z-index: 1;
    margin-left: -181px;
  }
  .frame-parent {
    align-self: stretch;
    height: 93px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    font-size: var(--m3-title-large-size);
    color: var(--schemes-on-surface);
    font-family: var(--m3-label-large);
  }
  